<?xml version="1.0" encoding="UTF-8"?>

<!--
    Descriptor actualizado del DTD 2.3 al esquema 4.0.

    Motivo: con el DOCTYPE de Servlet 2.3 el contenedor desactiva el
    Expression Language en las JSP, por lo que ${...} se imprime como
    texto literal en vez de evaluarse.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Inmobiliaria</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <el-ignored>false</el-ignored>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>

</web-app>
